.container {
    display: flex;
    width: 90vw;
    height: 90vh;
    background-color: #87C4FF;
    overflow-y: auto;
    font-family: 'Roboto', sans-serif;
    border: 10px solid #39A7FF;
    border-radius: 15px;
    margin-bottom: 50px;
}

  .sidebar {
    text-align: center;
    width: 200px;
    border-right: 3px solid #39A7FF;
    padding: 10px;
    user-select: none;
    font-weight: bold;
  }
  
  .sidebar p {
    margin:  0 0 5px 0 ;
    padding: 5px;
    height: 20;
    border: 1px solid #ccc;
    background-color: #39A7FF;
    user-select: none;
  }

  .sidebar p:hover {
    background-color: #ddd;
  }

  .main {
    flex: 1;
  }
